@import "./responsive.scss";

.layout{
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @include lg{
        background-color: #eaeaeacc;
        max-width: 1280px;
        color: #252525;
    }

    @include md{
        background-color: rgb(212, 224, 247);
        max-width: 768px;
        color: #252525;
    }
    
    @include sm{
        max-width: 640px;
        background-color: rgb(231, 213, 250);
    }
    
}