.homePage{
    display: flex;
    height: 100%;
}
.textContainer{ 
    flex: 3; 

    .wrapper{
        padding-right: 100px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;

        .title{
            font-size: 54px
        }
        p{
            font-weight: 500;
            color: #535252;
        }

        .boxes{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1{
                font-size: 40px;
                font-weight: 400;
            }
            span{
                font-size: 17px;
            }
        }
    }
}
.imgContainer{ 
    flex: 2; 
    padding: 10px;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;

    img{
        width: 110%;
        position: absolute;
        right: 0;
    }
}